<div class="playlist-grid">
  <div class="playlist-grid__item" *ngFor="let playlist of playlists"  (click)="selectPlaylist.emit(playlist)" role="link" tabindex="0">
    <img [src]="'assets/images/icons/playlist.png'" class="playlist-grid__item__art"  alt="">
    <div class="playlist-grid__item__info"  (click)="selectPlaylist.emit(playlist)">
      <span class="playlist-name">{{playlist.playlist_name}}</span>
      <!-- <span class="playlist-name">{{album.artist_name}}</span> -->
    </div>
  </div>
</div>
