.playlist-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  .playlist-grid__item {
    max-width: 200px;
    min-width: 150px;
    margin: 20px;
    outline: none;
    cursor: pointer;

    img {
      width: 100%;
      border: 3px solid #282828;
      padding: 10px;
    }
    .playlist-grid__item__info {
      font-weight: 400;
      text-align: center;
      padding: 5px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      .artist-name {
        font-size: 12px;
        color: #939393;
        cursor: pointer;
        outline: none;
        font-weight: 200px;
      }
    }
  }
}
