:host {
  width: 100%;
}
.confirm-delete {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button-items {
    margin: 0 auto;
    .button {
      display: inline-block;
      margin: 16px;
    }
  }
}
