<ng-container *ngIf="playlist">
  <div class="entity-info">
    <div class="entity-info__left">
      <img [src]="'assets/images/icons/playlist.png'"  class="albums-grid__item__art"  alt="">
    </div>
    <div class="entity-info__right">
      <h2 class="playlist-title">{{playlist?.playlist_name}}</h2>
      <p class="owner-name">By {{playlist?.playlist_owner}}</p>
      <p>{{playlist?.tracks?.length}} Songs</p>
      <div class="button-items">
        <button class="button" (click)="deletePlaylist(playlist)">Delete</button>
        <button *ngIf="playlist?.tracks && playlist?.tracks?.length > 0" class="button green"  (click)="onTrackClick(playlist?.tracks[0])">Play</button>
      </div>
    </div>
  </div>
  <div class="track-list-container">
    <h2  *ngIf="!playlist?.tracks || playlist?.tracks?.length == 0">No songs in playlist</h2>
   <spotify-lite-song-list *ngIf="playlist?.tracks?.length > 0" [songs]="playlist?.tracks" (playSong)="onTrackClick($event)" [optionsAlowed]="optionsAlowed" (removeSongFromPlaylist)="onRemoveSongFromPlaylist($event)"></spotify-lite-song-list>
  </div>

</ng-container>
