<div class="playlist-container">
  <div class="grid-view-container">
    <h2>PLAYLISTS</h2>
    <div class="button-items">
      <button class="button green" name="button" (click)="lauchCreatePlaylistPopu()">New Playlist</button>
    </div>
    <spotify-lite-playlist-grid [playlists]="playlists" (selectPlaylist)="goToPlaylist($event)"></spotify-lite-playlist-grid>
  </div>
</div>
