<div class="container">
  <h1 class="page-heading-big">You Might Also Like</h1>
  <spotify-lite-album-grid [albums]="recommendedAlbums" (goToAlbum)="onGoToAlbum($event)"></spotify-lite-album-grid>

</div>
