:host {
  width: 100%;
}

.add-to-playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .x {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    //border: solid 2px #fff;
    transition: all 0.3s ease-out;
    cursor: pointer;
    width: 30px;
    height: 30px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    b {
      display: block;
      position: absolute;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      border: solid 15px rgba(255, 255, 255, 0);
      &:nth-child(1) {
        border-top-color: #000;
        top: -2px;
      }
      &:nth-child(2) {
        border-left-color: #000;
        left: -2px;
      }
      &:nth-child(3) {
        border-bottom-color: #000;
        bottom: -2px;
      }
      &:nth-child(4) {
        border-right-color: #000;
        right: -2px;
      }
    }
    &:hover {
      //background: #bb3333;
      transform: scale(1.5);
    }
  }
  .title-row {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 50px;
      margin-right: 30px;
    }
    .button {
      width: 170px;
    }
  }
}
