  <div class="authPageContainer">
    <div id="inputContainer">
      <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <h2>Login to your account</h2>
          <div>
            <label for="email">Email</label>
            <input type="text"  id="email" name="email" formControlName="email">
            <span class="form-field__error" *ngIf="fields.email?.touched && fields.email?.errors?.required">Email is required</span>
            <span class="form-field__error" *ngIf="fields.email?.touched && fields.email?.errors?.email">A Valid Email is required</span>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" formControlName="password">
            <span class="form-field__error" *ngIf="fields.password?.touched && fields.password?.errors?.required">Password is required</span>
            <span class="form-field__error" *ngIf="fields.password?.touched && fields.password?.errors?.minlength">A minimum of 6 characters is required</span>
          </div>
          <button type="submit" name="loginButton" [disabled]="!loginForm.valid">Log In</button>

          <div class="hasAccountText">
            <a [routerLink]="['/auth/register']">Don't have an account yet? Sign up here</a>
          </div>
          <div class="social-login">
            <button type="button" id="loginButtonGoogle" (click)="_authService.doGoogleLogin()">Login with google</button>
            <button type="button" id="loginButtonFacebook" (click)="_authService.doFacebookLogin()">Login with facebook</button>

          </div>
      </form>
    </div>
  </div>
