@import "~@angular/cdk/overlay-prebuilt.css";

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: table;
}

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  letter-spacing: 1px;
}

.button {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  margin-bottom: 10px;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 500px;
  padding: 15px;
  width: 130px;
  letter-spacing: 2px;
  outline: none;
  transition: all 0.3s ease-out;
  &:hover {
    // color: #000;
    // background-color: #fff;
    transform: scale(1.1);
    font-weight: 900;
  }
  &.green {
    background-color: #2ebd59;
    border-color: #2ebd59;
  }
}
.control-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  img {
    height: 20px;
    width: 20px;
  }
}
.border-bottom {
  border-bottom: 1px solid #939393;
  margin-bottom: 20px;
}

.artist-name {
  outline: none;
  cursor: pointer;
}

.s-title {
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: #000;
  opacity: 0.85 !important;
}
.spotify-lite-playlist-overlay-pannel {
  width: 100%;
}
