.track-list {
  list-style: none;
  padding: 0;
  //overflow-y: scroll;
  height: 400px;
  .track {
    height: 40px;
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 300ms ease, opacity 400ms ease;
    span {
      color: #939393;
      font-weight: 200 !important;
      text-transform: capitalize;
    }
    &:hover {
      background-color: #282828;
      .track__count {
        img {
          opacity: 1;
          cursor: pointer;
        }
        span {
          opacity: 0;
        }
      }
      .track__options {
        img {
          opacity: 1;
        }
      }
    }

    &__count {
      width: 8%;
      float: left;
      img {
        width: 20px;
        opacity: 0;
        position: absolute;
      }
      &__number {
      }
    }
    &__info {
      width: 75%;
      float: left;
      span {
        display: block;
      }
      &__name {
        color: #fff !important;
        margin-bottom: 7px;
      }
      &__artist-name {
      }
    }
    &__options {
      width: 5%;
      float: left;
      text-align: right;
      img {
        width: 15px;
        opacity: 0;
      }
    }
    &__duration {
      width: 12%;
      float: left;
      text-align: right;
      &__value {
      }
    }
  }
}
