<ul class="track-list">
  <li class="track" *ngFor="let song of songs; let i = index;">
      <div class="track__count">
        <img src="assets/images/icons/play-white.png" alt="play" (click)="playSong.emit(song)">
        <span class="track__count__number">{{i + 1}}</span>
      </div>
      <div class="track__info">
        <span class="track__info__name">{{song?.track_name}}</span>
        <span class="track__info__artist-name artist-name"  [routerLink]="['/core/artist']">{{song?.artist_name}}</span>
      </div>
      <div class="track__options">
        <img class="track__options__btn" src="assets/images/icons/more.png" alt="more" (click)="showOptions($event, song)">
      </div>
      <div class="track__duration">
        <span class="track__duration__value">{{utils.fancyTimeFormat(song?.track_duration) || '00:00'}}</span>
      </div>
  </li>
</ul>
<spotify-lite-options-menu [options]="menuOptions" (selected)="onMenuSelection($event)"></spotify-lite-options-menu>
