<div class="now-playing-bar-container">
  <div class="now-playing-bar">
    <div class="now-playing-bar__left">
      <div class="now-playing-bar__content">
        <span class="album-link">
          <img class="album-art-work" [src]="_playerSrv?.currentAlbum?.album_artwork">
        </span>
        <div class="track-info">
          <span class="track-name">
            <span>{{_playerSrv?.currentTrack?.track_name}}</span>
          </span>
          <span class="artist-name" [routerLink]="['/core/artist']">
            <span>{{_playerSrv?.currentTrack?.artist_name}}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="now-playing-bar__center">
      <div class="now-playing-bar__content player-controls">
          <div class="buttons">
            <button class="control-button shuffle" title="shuffle button" (click)="_playerSrv.toggleShuffle()">
              <img src="assets/images/icons/shuffle.png" alt="shuffle" *ngIf="!_playerSrv?.nowPlayingGroup?.shuffle">
              <img src="assets/images/icons/shuffle-active.png" alt="shuffle active" *ngIf="_playerSrv?.nowPlayingGroup?.shuffle">
            </button>
            <button class="control-button previous" title="previous button" (click)="_playerSrv.prevTrack()">
              <img src="assets/images/icons/previous.png" alt="previous">
            </button>
            <button *ngIf="!_playerSrv.isPlaying" class="control-button play" title="play button" (click)="_playerSrv.playSong()">
              <img src="assets/images/icons/play.png" alt="play">
            </button>
            <button *ngIf="_playerSrv.isPlaying" class="control-button pause" title="pause button" (click)="_playerSrv.pauseSong()">
              <img src="assets/images/icons/pause.png" alt="pause">
            </button>
            <button class="control-button next" title="next button" (click)="_playerSrv.nextTrack()">
              <img src="assets/images/icons/next.png" alt="next">
            </button>
            <button class="control-button repeat" title="repeat button" (click)="_playerSrv.toggleRepeat()">
              <img src="assets/images/icons/repeat.png" alt="repeat" *ngIf="!_playerSrv?.nowPlayingGroup?.repeat">
              <img src="assets/images/icons/repeat-active.png" alt="repeat active" *ngIf="_playerSrv?.nowPlayingGroup?.repeat">
            </button>
          </div>
          <div class="play-back-bar">
            <span class="progress-time current">{{songProgress}}</span>
            <div id="progressbar" class="progress-bar" (mousedown)="onProgressMouseDown($event)"
             (mousemove)="onProgressMouseMove($event)" (mouseup)="onProgressMouseUp($event)">
              <div class="progress-bar__bg">
                <div class="progress" [style.width.%]="songProgressPercentage"></div>
              </div>
            </div>
            <span class="progress-time remaining">{{utils.fancyTimeFormat(_playerSrv?.currentTrack?.track_duration) || '00:00'}}</span>

          </div>
      </div>

    </div>
    <div class="now-playing-bar__right">
      <div id="volumebar" class="volume-bar"  (mousedown)="onProgressMouseDownVolume($event)"
       (mousemove)="onProgressMouseMoveVolume($event)" (mouseup)="onProgressMouseUpVolume($event)">
        <button *ngIf="!_playerSrv.mute" class="control-button volume" title="volume button" (click)="_playerSrv.mute = true">
          <img src="assets/images/icons/volume.png" alt="volume">
        </button>
        <button *ngIf="_playerSrv.mute" class="control-button volume-mute" title="volume-mute button" (click)="_playerSrv.mute = false">
          <img src="assets/images/icons/volume-mute.png" alt="volume mute">
        </button>
        <div class="progress-bar">
          <div class="progress-bar__bg">
            <div class="progress" [style.width.%]="volumePercentage"></div>
          </div>
        </div>
         </div>
    </div>
  </div>

</div>
