.control-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  &.play,
  &.pause {
    img {
      height: 32px !important;
      width: 32px !important;
    }
  }
  img {
    height: 20px;
    width: 20px;
  }
}
.progress-bar {
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
  margin-top: 3px;
  .progress-bar__bg {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    .progress {
      height: 4px;
      width: 0;
      background-color: #a0a0a0;
    }
  }
}
.now-playing-bar-container {
  background-color: #282828;
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 16px;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 16px;
  .now-playing-bar {
    width: 100%;
    &__content {
      width: 100%;
    }
    display: flex;
    box-sizing: border-box;
    &__left {
      width: 30%;
      .now-playing-bar__content {
        height: 57px;

        .album-link {
          .album-art-work {
            height: 100%;
            max-width: 57px;
            margin-right: 15px;
            float: left;
            background-size: cover;
          }
        }
        .track-info {
          display: table;
          .track-name {
            margin: 6px 0;
            display: inline-block;
            width: 100%;
          }
          .artist-name {
            outline: none;

            span {
              font-size: 12px;
              color: #a0a0a0;
              cursor: pointer;
              outline: none;
            }
          }
        }
      }
    }
    &__center {
      width: 40%;
      display: flex;
      flex-direction: column;
      //align-items: center;

      .player-controls {
        .buttons {
          margin: 0 auto;
          display: table;
          @extend .control-button;
        }
        .play-back-bar {
          display: flex;
          .progress-time {
            color: #a0a0a0;
            font-size: 13px;
            text-align: center;
            min-width: 40px;
          }
          @extend .progress-bar;
        }
      }
    }
    &__right {
      width: 30%;
      position: relative;
      min-width: 180px;
      margin-top: 16px;
      .volume-bar {
        width: 180px;
        position: absolute;
        right: 0;
        @extend .control-button;
        @extend .progress-bar;
        .progress-bar {
          width: 120px;
        }
      }
    }
  }
}
