<nav class="navigation-bar">
  <a class="logo" [routerLink]="['/core']">
    <img src="assets/images/icons/logo2.png" alt="logo">
  </a>
  <ul class="nav-groping search">
    <li class="nav-item" [routerLink]="['search']">
      <a class="nav-item__link">Search <img class="icon" src="assets/images/icons/search.png" alt="search"></a>
    </li>
  </ul>
  <ul class="nav-groping nav-items">
    <li class="nav-item">
      <a class="nav-item__link" [routerLink]="['/core']">Browse</a>
    </li>
    <li class="nav-item">
      <a class="nav-item__link" [routerLink]="['yourMusic']">Your Music</a>
    </li>
    <li class="nav-item">
      <a class="nav-item__link" [routerLink]="['settings']">{{user?.displayName}}</a>
    </li>
  </ul>
</nav>
