<div class="albums-grid">
  <div class="albums-grid__item" *ngFor="let album of albums">
    <img [src]="album?.album_artwork" class="albums-grid__item__art"  alt="" (click)="goToAlbum.emit(album)">
    <div class="albums-grid__item__info"  (click)="goToAlbum.emit(album)">
      <span class="album-name">{{album.album_name}}</span>
      <span class="artist-name">{{album.artist_name}}</span>
    </div>
  </div>
</div>
