.options-menu {
  position: fixed;
  background-color: #282828;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  z-index: 1000;
  display: none;

  .song-id {
  }
  .options-menu__items {
    .options-menu__item {
      width: 100%;
      padding: 12px 20px;
      box-sizing: border-box;
      font-weight: 400;
      color: rgba(147, 147, 147, 0.8);
      cursor: pointer;
      height: 40px;
      &:hover {
        color: #fff;
        background-color: #333;
        border-color: #333;
      }
    }
  }
}
