.search-container {
  background-color: #242424;
  padding: 20px 28px;
  h4 {
    margin: 0;
    font-weight: 300;
  }
  .searh-input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 63px;
    letter-spacing: 2px;
    outline: none;
  }
}
