<div class="settings-container">
  <div class="center-section">
      <div class="user-info">
        <h1>{{user?.displayName}}</h1>
      </div>
  </div>
  <div class="buttons">
    <button class="button" [routerLink]="['/core/user']">User Details</button>
    <button class="button" (click)="_authSrv.doLogout()">Log Out</button>
  </div>
</div>
