:host {
  height: 100%;
  width: 100%;
}
#authentication {
  background-color: #000;
  background-image: url("../../../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    ". formPage formPage authText . "
    ". formPage formPage authText . "
    ". formPage formPage authText . "
    ".  . . . .";
  spotify-lite-login,
  spotify-lite-register {
    grid-area: formPage;
  }
  ::ng-deep {
    .authPageContainer {
      color: #fff;
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-weight: normal;
      line-height: 1em;
      box-sizing: border-box;
      position: relative;
      #inputContainer {
        padding: 45px;
        border-right: 1px solid #999;
        .form-field__error {
          color: red;
          font-weight: bolder;
        }

        label {
          color: #a0a0a0;
          font-size: 13px;
          margin-top: 15px;
        }

        h2 {
          text-align: center;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
          display: block;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid #fff;
          height: 27px;
          line-height: 27px;
          width: 100%;
          outline: none;
        }
        button {
          background-color: transparent;
          border: 2px solid #fff;
          border-radius: 250px;
          color: #fff;
          display: block;
          font-size: 14px;
          letter-spacing: 1px;
          margin: 30px auto;
          height: 41px;
          width: 100%;
          outline: none;
          &:hover {
            cursor: pointer;
          }
          &:disabled {
            cursor: not-allowed;
            border-color: rgba(255, 255, 255, 0.7);
            color: rgba(255, 255, 255, 0.7);
          }
        }
        .hasAccountText {
          text-align: center;
          a {
            color: inherit;
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
            text-decoration: none;
          }
        }
      }

      ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #fff;
      }
      :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: 1;
      }
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: 1;
      }
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
      }
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #fff;
      }
    }
    #authText {
      grid-area: authText;
      padding: 45px;

      color: #fff;

      h1 {
        color: #07d159;
        font-size: 34px;
        font-weight: bold;
      }
      h2 {
        margin: 35px 0;
      }
      ul {
        padding: 0;
        li {
          font-size: 20px;
          list-style: none;
          padding: 5px 30px;
          background: url("../../../assets/images/icons/checkmark.png")
            no-repeat 0 0;
        }
      }
    }
  }
}
